# App API Configuration
# Replace with your machine's local IP (run: ipconfig -> Wi-Fi IPv4 Address)
EXPO_PUBLIC_API_URL=http://192.168.68.62:4039/graphql
EXPO_PUBLIC_WS_URL=ws://192.168.68.62:4039/ws

# ImageKit
EXPO_PUBLIC_IMAGEKIT_URL=https://ik.imagekit.io/esdata1=
EXPO_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_kgj5PULxw6pfjeO2IGwEVundBIQ=
