# App API Configuration
EXPO_PUBLIC_API_URL=http://localhost:4039/graphql
EXPO_PUBLIC_WS_URL=ws://localhost:4039/ws

# ImageKit
EXPO_PUBLIC_IMAGEKIT_URL=https://ik.imagekit.io/esdata1=
EXPO_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_kgj5PULxw6pfjeO2IGwEVundBIQ=
