# App API Configuration
# Replace with your machine's local IP (run: ipconfig -> Wi-Fi IPv4 Address)
EXPO_PUBLIC_API_URL=http://192.168.68.73:4039/graphql
EXPO_PUBLIC_WS_URL=ws://192.168.68.73:4039/ws
