# Server Configuration
PORT=4039
NODE_ENV=development

# JWT
JWT_SECRET=your-jwt-secret-here

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=noreply@partywings.com

# ImageKit
IMAGEKIT_PUBLIC_KEY=public_kgj5PULxw6pfjeO2IGwEVundBIQ=
IMAGEKIT_PRIVATE_KEY=private_n4IdSlg7DbXXn88rRAVqZhCgGVw=
IMAGEKIT_URL_ENDPOINTS=https://ik.imagekit.io/esdata1

# Dev Admin Email
DEV_EMAIL=suryansh@exyconn.com
